.Rproj.user
.Rhistory
.RData
.Ruserdata

# EnergyPlus output
fort.6
*.audit
*.bnd
*.dxf
*.eio
*.end
*Sqlite.err
*.eso
*.mdd
*.mtd
*.mtr
*.rdd
*.rvaudit
*.shd
*.sql
# EnergyPlus csv output in side 'sim'
data/sim/**/*.csv
